@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-void bg-top-neon-glow text-white min-h-screen selection:bg-neon-purple selection:text-black;
    /* Configurações críticas para iluminação ambiente estática */
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  /* Custom scrollbar to match the cyberpunk aesthetic */
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(139, 92, 246, 0.3);
    border-radius: 10px;
  }
}