
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    @apply bg-void;
  }

  body {
    @apply text-white selection:bg-neon-purple selection:text-black;
    /* Imersão total: o gradiente deve começar no topo absoluto do hardware */
    background-image: radial-gradient(circle at 50% 0%, rgba(176, 38, 255, 0.6) 0%, rgba(176, 38, 255, 0.15) 50%, #000000 100%) !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overscroll-behavior-y: none;
  }

  /* Scrollbars customizadas */
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(139, 92, 246, 0.3);
    border-radius: 10px;
  }
}
